{% extends 'base.html' %}

{% block title%}
    Home Page
{% endblock %}

{% block body %}
<div class="container">
    <h1>Home Page</h1>


    {% if messages %}
    <div class="msgs">
        {% for i in messages %}
        <p>{{i}}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% for i in books%}
    <div class="box">
        <p><a href="{{i.get_absolute_url}}">{{i.name}}</a> / {{i.author}}</p>
        <p>{{i.isbn}} on {{i.publish_on |date:"D d M Y"}}</p>
    </div>
    {% empty %}
    <p>No books is found</p>
    {% endfor %}
</div>
{% endblock %}